<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>로그인</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link href="{%static '/css/loginstyle.css}" rel="stylesheet"/>


</head>

<body class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="p-5">
        <div class="m-5" style="position:absolute; left:50%; transform:translateX(-50%); width:50%;">
            <header class="container" style="text-align:center; width:100%;">
                <h3 style="white-space:nowrap;">로그인</h3>
            </header>
            <form action="loginimpl" method="POST" style="text-align:center;">
                {% csrf_token %}
                <div class="input-box">
                    <input id="id" type="text" name="id" placeholder="아이디" autocomplete="off" required>
                    <label for="id">아이디</label>
                    <div class="p-1" style="text-align:right">
                        <button class="forgot" id="forgotid" style="text-align:right; width:85px;" type="button">아이디찾기</button>
                    </div>
                </div>
                <div class="input-box">
                    <input id="password" type="password" name="password" placeholder="비밀번호" autocomplete="off" required>
                    <label for="password">비밀번호</label>
                    <div class="p-1" style="text-align:right">
                        <button class="forgot" id="forgotpw" style="text-align:right; width:85px;" type="button">비밀번호찾기</button>
                    </div>
                </div>

                <div class="p-2" style="position:absolute; left:50%; transform:translateX(-50%); width:100%;">
                    <input type="submit" value="로그인" style="width:80%">
                </div>
            {% if center != None %}
                {% include center %}
            {% else %}
                <section></section>
            {% endif %}
            </form>
        </div>
    </div>


</body>

</html>