<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="shortcut icon" href="#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>마트 관리자</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- cdn  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type = "text/javascript"> </script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxd96122c92d4b42678d8fe2206b8358ad"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $.ajax({
        type:"get",
        url:"/lists",
        dataType:"json",
        success:function(data){
            console.log("테스트통신성공");
            console.log(data);
            str='<table>';
            str+='<tr>'+'<td>'+"&nbsp;I D "+'</td>'+'<td>'+"&nbsp;&nbsp;&nbsp;"+'</td>'
                +'<td>'+"&nbsp;Phone "+'</td>'+'<td>'+"&nbsp;&nbsp;&nbsp;"+'</td>'+'<td>'+"&nbsp;GNO "+'</td>'+'</tr>';
                $.each(data,function(i){
                    str+='<tr>'+'<td>'+data[i].id+'</td>'+'<td>'+"&nbsp;&nbsp;&nbsp;"+'</td>'
                    +'<td>'+data[i].phone+'</td>'+'<td>'+"&nbsp;&nbsp;&nbsp;"+'</td>'+'<td>'+data[i].gno+'</td>'+'</tr>';
                });
            $("#liststarget").append(str);
            },
            error:function(){
                console.log("테스트통신실패");
            }
        })
    </script>
<!--    <script>-->
<!--        $.ajax({-->
<!--        type:"get",-->
<!--        url:"/infoproduct",-->
<!--        dataType:"json",-->
<!--        success:function(data){-->
<!--            console.log("테스트통신성공");-->
<!--            console.log(data);-->
<!--            str='<table class="table table-bordered" width = "100%" cellspacing="0">' + '<thead>';-->
<!--            str+='<tr>'+'<td>'+"상 품 명"+'</td>'+'<td>'+"상품 가격"+'</td>'-->
<!--            +'<td>'+"상품 위치"+'</td>'+'<td>'+"상품 번호"+'<td>'+"소분류"+'</td>'+'<td>'+"대분류"+'</td>'-->
<!--            +'</tr>'+'</thead>' + '<tbody>';-->
<!--                $.each(data,function(i){-->
<!--                    str+='<tr>'+'<td>'+data[i].name+'</td>'+'<td>'+data[i].price+'</td>'-->
<!--                    +'<td>'+data[i].location+'</td>'+'<td>'+data[i].pno+'</td>'-->
<!--                    +'<td>'+data[i].sub1+'</td>'+'<td>'+data[i].main+'</td>'-->
<!--                    +'</tr>';-->
<!--                });-->
<!--            str+='</tbody>' +'</table>'-->
<!--            $("#infoproducttarget").append(str);-->
<!--            },-->
<!--            error:function(){-->
<!--                console.log("테스트통신실패");-->
<!--            }-->
<!--        })-->
<!--    </script>-->
<!--    <script type="text/javascript" src="{% static 'js/charts.js'%}"></script>-->
</head>
<style>
    #map_div {
        height: 100%;
        width: 100%;
    }
</style>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/homepage">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">help.app</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/homepage">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
              <li class="nav-item">
                <li class="nav-item">
                <a class="nav-link collapsed" href="mart/index/" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span>Mart Position</span>
                </a>
                <a class="nav-link collapsed" href="/logout" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span>Logout</span>
                </a>
                <a class="nav-link collapsed" href="/view" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span>회원 정보 조회</span>
                </a>

            <!-- Nav Item - Charts -->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="charts.html">-->
<!--                    <i class="fas fa-fw fa-chart-area"></i>-->
<!--                    <span>Charts</span></a>-->
<!--            </li>-->

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>일지 현황</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
<!--            <div class="sidebar-card d-none d-lg-flex">-->
<!--                <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">-->
<!--                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>-->
<!--                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>-->
<!--            </div>-->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h2 style="text-align:center;"> 오늘도 행복한 하루되세요</h2>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">등록 계정</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                                                <div class="table-responsive">
                                <table class="table table-bordered" id="dataTables" width="50%">
                                    <thead>
                                        <tr>
                                            <th>아이디</th>
                                            <th>이메일</th>
                                            <th>핸드폰</th>
                                            <th>장애등급</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if name_list %}
                                        {% for name in name_list %}
                                            <tr>
                                                <td>{{name.id}}</td>
                                                <td>{{name.name}}</td>
                                                <td>{{name.phone}}</td>
                                                <td>{{name.gno.grade}}</td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="8">No Data.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                <ul class="pagination justify-content-center">
                                    <!-- 이전페이지 -->
                                    {% if name_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ name_list.previous_page_number }}">이전</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                    </li>
                                    {% endif %}
                                    <!-- 페이지리스트 -->
                                    {% for page_number in name_list.paginator.page_range %}
                                    {% if page_number >= name_list.number|add:-3 and page_number <= name_list.number|add:3 %}
                                    {% if page_number == name_list.number %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <!-- 다음페이지 -->
                                    {% if name_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">현황 정보</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p id="clock">clock</p>
                                    <p id="today"></p>
                                    <h2>{{obj.name}}</h2>
                                    <p id="fire_count">{{obj.rno.rankdata}}</p>
                                    <a href="/notepad">일지 작성</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">상품 정보</h6>
                        </div>
                        <div class="card-body">
<!--                            <div id="infoproducttarget"></div>-->
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>상품 번호</th>
                                            <th>상품 이름</th>
                                            <th>상품 가격</th>
                                            <th>상품 위치</th>
                                            <th>소분류</th>
                                            <th>대분류</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if question_list %}
                                        {% for question in question_list %}
                                            <tr>
                                                <td>{{question.pno}}</td>
                                                <td>{{question.name}}</td>
                                                <td>{{question.price}}</td>
                                                <td>{{question.location}}</td>
                                                <td>{{question.main}}</td>
                                                <td>{{question.sub1}}</td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="8">No Data.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                <ul class="pagination justify-content-center">
                                    <!-- 이전페이지 -->
                                    {% if question_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                    </li>
                                    {% endif %}
                                    <!-- 페이지리스트 -->
                                    {% for page_number in question_list.paginator.page_range %}
                                    {% if page_number >= question_list.number|add:-3 and page_number <= question_list.number|add:3 %}
                                    {% if page_number == question_list.number %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <!-- 다음페이지 -->
                                    {% if question_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
<!--                    <div class="card shadow mb-4">-->
<!--                        <div class="card-header py-3">-->
<!--                            <h6 class="m-0 font-weight-bold text-primary">경로 현황</h6>-->
<!--                        </div>-->
<!--                        <script>-->
<!--                            $(document).ready(function() {-->
<!--                                initTmap();-->
<!--                            });-->
<!--                        </script>-->
<!--                        <div class="card-body">-->
<!--                            <div id="map_div" style="width:100%;height:100%"></div>-->
<!--                            <script>-->
<!--                              $(document).ready(function() {-->
<!--                                    getRP();-->
<!--                                });-->
<!--                            </script>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Approach &ndash;&gt;-->
<!--                    <div class="card shadow mb-4">-->
<!--                        <div class="card-header py-3">-->
<!--                            <h6 class="m-0 font-weight-bold text-primary">raw code</h6>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <a href="/lists">사용자 계정</a>-->
<!--                            <br>-->
<!--                            <a href="/infoproduct">상품 정보</a>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
                <!-- /.container-fluid -->

    </div>
            <!-- End of Main Content -->

            <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; 2022 멀티 캠퍼스 3조 프로젝트 </span>
                <span>Project By <a href="https://github.com/multicampusiot3project">BIAC Team</a> </span>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
<!--    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tmap.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<script>
    var Target = document.getElementById("clock");
    function clock() {
        var time = new Date();

        var month = time.getMonth();
        var date = time.getDate();
        var day = time.getDay();
        var week = ['일', '월', '화', '수', '목', '금', '토'];

        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();

        Target.innerText =
        `${month + 1}월 ${date}일 ${week[day]}요일 ` +
        `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

    }
    clock();
    setInterval(clock, 1000); // 1초마다 실행
</script>
</body>

</html>