<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZeroFire</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style type="text/css">
        table {
        margin-left:auto;
        margin-right:auto;
        }
    </style>
</head>
<script>
    $(document).ready(function(){
        $('#submit').click(function(){
            if($('#id').val().length==0){alert('Insert ID.'); $('#id').focus();return false;}
            if($('#password').val().length==0){alert('Insert password.'); $('#password').focus();return false;}
            if($('#passwordchk').val().length==0){alert('Check password.'); $('#passwordchk').focus();return false;}
            if($('#email').val().length==0){alert('Insert e-mail.'); $('#email').focus();return false;}
            if($('#phone').val().length==0){alert('Insert phonenumber.'); $('#phone').focus();return false;}
            if($('#address').val().length==0){alert('Insert address.'); $('#address').focus();return false;}
            if($('#gno').val().length==0){alert('Insert gno.'); $('#gno').focus();return false;}
        });
    });
</script>
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
                <!-- Nested Row within Card Body -->
                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Resister</h1>
                            </div>
                            <form class="user" id="registerForm" action="/registerimpl" method="post" data-sb-form-api-token="API_TOKEN">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="id" name="id" minlength=3 required
                                        placeholder="ID">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" name="password" minlength=3 required
                                            id="password" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" name="passwordchk" minlength=3 required
                                            id="passwordchk" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email" name="email" minlength=3 required
                                        placeholder="Email">
                                </div>
                                <div class="form-group row ml-0">
                                    <div class="col-xs-4 pr-2">
                                        <input type="text" class="form-control form-control-user" id="phone1" name="phone1" minlength=3 required
                                        placeholder="Phone1">
                                    </div>
                                    <div class="col-xs-4 pl-3 pr-3">
                                        <input type="text" class="form-control form-control-user" id="phone2" name="phone2" minlength=3 required
                                        placeholder="Phone2">
                                    </div>
                                    <div class="col-xs-4 pl-2">
                                        <input type="text" class="form-control form-control-user" id="phone3" name="phone3" minlength=3 required
                                        placeholder="Phone3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="address" name="address" minlength=3 required
                                        placeholder="Address">
                                </div>

                                <input class="btn btn-primary btn-user btn-block" id = "submit" type="submit" value="Register Account" style="font-weight : bold ;">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">Log In</a>
                            </div>
                        </div>
                    </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>